#worker-area {
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    background-color: #292929;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    min-height: 15vh;
}

.left-part-worker-area
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.worker-name {
    font-size: 20px;
    font-weight: bold;
}

.worker-level {
    font-size: 10px;
    color: #b1b1b1;
}
