<div class="app-layout">
  <div class="column column-left">
    <div class="shop-items-list">
      <ng-container *ngFor="let shopItem of game.shopItems; let i = index; trackBy: trackByShopIndex">
        <app-shop-item-area
          *ngIf="shopItem.doesAppearInGame && shopItem.bought == false"
          [shopItemSelected]="shopItem"
          [itemIndex]="i">
        </app-shop-item-area>
      </ng-container>
    </div>
  </div>

  <div class="column column-center">
    <div class="score-area">
      <p class="value-click">{{ game.clicks | number:'1.2-2' }}</p>
      <p class="value-auto-per-second">{{ game.valueAutoPerSecond | number:'1.2-2' }}/s</p>
    </div>
    <div class="center-zone-wrapper">
      <div id="click-area" (click)="click($event)"></div>
      <app-sun-area
        [sunUnlocked]="game.sunUnlocked || false"
        (clicked)="onSunClicked()">
      </app-sun-area>
    </div>
  </div>

  <div class="column column-right">
    <div class="workers-list">
      <ng-container *ngFor="let worker of workersAvailable; let i = index; trackBy: trackByIndex">
        <app-worker-area
          *ngIf="worker.doesAppearInGame"
          [workerSelected]="worker"
          [workerIndex]="i"
          (upgraded)="onWorkerUpgraded()">
        </app-worker-area>
      </ng-container>
    </div>
  </div>
</div>
