.app-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0;
  height: 100vh;
}

.column {
  box-sizing: border-box;
}

.column-left {
  /* Colonne gauche vide ou future contenu */
}

.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.column-right {
  overflow-y:scroll
}

.workers-title {
  margin: 0 0 1rem 0;
  font-size: 1.25rem;
  color: #f1f1f1;
}

.workers-list {
  display: flex;
  flex-direction: column;
}

.center-zone-wrapper {
  position: relative;
  width: 220px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#click-area {
  cursor: pointer;
  width: 100px;
  height: 100px;
  background-color: #292929;
  color: #f1f1f1;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#click-area:hover {
  background-color: #3d3d3d;
}

#click-area:active {
  transform: scale(1.1);
}

.icon-click {
  font-size: 40px;
  color: #f1f1f1;
}

.value-click {
  font-size: 20px;
  color: #f1f1f1;
  margin: 0;
}

.value-auto-per-second {
  font-size: 10px;
  color: #b1b1b1;
}

.score-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.shop-items-list {
  height: 33%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  overflow-y: auto;
  overflow-x: hidden;
  border-bottom:  1px  solid #f1f1f1 ;
  border-right:  1px  solid #f1f1f1 ;
}