<div class="app-wrapper">
  <div class="app-layout">
    <div class="column column-left">
      <div class="shop-items-list">
        <ng-container *ngFor="let entry of sortedShopItemsWithIndex; trackBy: trackByShopEntry">
          <app-shop-item-area
            [shopItemSelected]="entry.item"
            [itemIndex]="entry.index"
            (bought)="onShopItemBought()">
          </app-shop-item-area>
        </ng-container>
      </div>
      <div class="power-area" *ngIf="game.powerUnlocked">
        <div class="mana-bar">
          <div class="mana-bar__track">
            <div
              class="mana-bar__fill"
              [style.width.%]="manaBarPercent">
            </div>
            <span class="mana-label">{{ game.mana | formatNumber:0 }}/{{ game.maxMana | formatNumber:0 }}</span>
          </div>
        </div>
        <div class="power-list">
          <ng-container *ngFor="let entry of sortedPowersWithIndex; trackBy: trackByPowerEntry">
            <app-power-area
                [powerSelected]="entry.power"
                [powerIndex]="entry.index"
                [manaCost]="getPowerManaCost(entry.index)"
                [canCast]="getCanCastPower(entry.index)"
                [effectRemainingPercent]="getEffectRemainingPercent(entry.power.id)"
                (bought)="onPowerBought()"
                (cast)="onPowerCast(entry.index)">
              </app-power-area>
          </ng-container>
        </div>
      </div>
    </div>
    
    <div class="column column-center">
      <!-- Lane vaisseaux : uniquement colonne centrale, hauteur aléatoire, mouvement fluide (position = temps) -->
      <div class="vessel-lane" *ngIf="game.vesselUnlocked && game.activeVessels && game.activeVessels.length > 0">
        <div
          *ngFor="let v of game.activeVessels; trackBy: trackByVesselInstance"
          class="vessel-lane__ship"
          [style.left.%]="getVesselLeft(v)"
          [style.top.%]="v.topPercent"
          [title]="v.name"
          (mousedown)="onVesselClick(v.instanceId); $event.stopPropagation(); $event.preventDefault()">
          <img *ngIf="v.imageUrl" [src]="v.imageUrl" [alt]="v.name" class="vessel-lane__img" />
          <span *ngIf="!v.imageUrl" class="vessel-lane__placeholder">{{ v.name?.charAt(0) }}</span>
        </div>
      </div>
      <div class="streak-bar" *ngIf="game.streakUnlocked">
        <div class="streak-bar__label">{{ game.streakActive && game.streakDamageMultiplier ? '×' + game.streakDamageMultiplier : '' }}</div>
        <div class="streak-bar__track">
          <div
            class="streak-bar__fill"
            [class.streak-bar__fill--active]="game.streakActive && !game.weaknessBuffActive"
            [class.streak-bar__fill--active-weakness]="game.streakActive && game.weaknessBuffActive"
            [style.width.%]="streakBarPercent">
          </div>
        </div>
      </div>
      <div class="monster-gauge" *ngIf="game.monsterUnlocked">
        <div class="monster-gauge__left">
          <span class="monster-gauge__label">{{ game.currentMonster ? 'Combat !' : 'Prochain mob' }}</span>
        </div>
        <div
          class="monster-gauge__darkness-circle"
          [style.--encounter-pct]="game.encounterMeterPercent != null ? game.encounterMeterPercent : 0"
          title="Plus c'est sombre, plus le monstre est proche">
        </div>
      </div>
      <div class="column-center__main">
        <div class="monster-title" *ngIf="game.currentMonster">
          <p class="monster-title__name">
            <span class="monster-title__boss" *ngIf="game.currentMonster.isBoss">DANGER BOSS</span>
            Nom du mob : {{ game.currentMonster.name }}
          </p>
          <p class="monster-title__hp">{{ formatMonsterHp(game.currentMonster.currentHp) }} HP</p>
        </div>
        <div class="score-area">
          <p class="value-click">{{ game.clicks | formatNumber }}</p>
          <p
            class="value-auto-per-second"
            [class.value-auto-per-second--buff]="game.damageBuffActive"
          >{{ game.valueAutoPerSecond | formatNumber }}/s</p>
        </div>
        <div class="center-zone-wrapper">
          <div
            *ngIf="!game.monsterUnlocked || !game.currentMonster"
            id="click-area"
            (click)="click($event)">
          </div>
          <div
            *ngIf="game.monsterUnlocked && game.currentMonster"
            id="monster-area"
            class="monster-area"
            (click)="click($event)">
            <img
              *ngIf="game.currentMonster.imageUrl"
              [src]="game.currentMonster.imageUrl"
              [alt]="game.currentMonster.name"
              class="monster-area__img"
            />
            <span *ngIf="!game.currentMonster.imageUrl" class="monster-area__placeholder">{{ game.currentMonster.name?.charAt(0) }}</span>
            <div class="monster-area__hp-track">
              <div
                class="monster-area__hp-fill"
                [style.width.%]="getMonsterHpPercent()">
              </div>
            </div>
            <div class="monster-area__timer">{{ game.currentMonster.remainingSeconds }}s</div>
          </div>
          <app-sun-area
            [sunUnlocked]="game.sunUnlocked || false"
            [sunSpeedFactor]="game.sunSpeedFactor != null ? game.sunSpeedFactor : 1"
            [sunSizeFactor]="game.sunSizeFactor != null ? game.sunSizeFactor : 1"
            [sunDamageMultiplier]="game.sunDamageMultiplier"
            (clicked)="onSunClicked()">
          </app-sun-area>
        </div>
      </div>
    </div>

    <div class="column column-right">
      <div class="resources-bar" >
        <div class="resources-bar__item" title="Essence de mob (plus si tué à la dernière seconde)">
          <span class="resources-bar__label">Essence</span>
          <span class="resources-bar__value">{{ formatResourceValue(game.monsterEssence != null ? game.monsterEssence : 0) }}</span>
        </div>
      </div>
      <div class="workers-list">
        <ng-container class="worker-area" *ngFor="let worker of workersAvailable; let i = index; trackBy: trackByIndex" >
          <app-worker-area
            *ngIf="worker.doesAppearInGame"
            [workerSelected]="worker"
            [workerIndex]="i"
            (upgraded)="onWorkerUpgraded()">
          </app-worker-area>
        </ng-container>
      </div>
    </div>
  </div>
</div>
